body {
    /*background-color: #89c4e3; /* Color de fondo azul pastel */
    background-image: linear-gradient(to bottom, #0078d4, #2b88d8, #00ff00);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.fade-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms, transform 300ms;
  }
  